*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.heading{
    
    margin-top: 0;
    padding-top: 80px;
    font-size: 43px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #F8F8F8;
  padding: 0 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header img {
  height: 90px; /* Adjust as needed */
  margin-right: 10px;
}
.nav_links {
  list-style: none;
  display: flex;
  gap: 20px; /* Adjust as needed */
}
.nav_links li {
  margin-right: 10px;
  padding: 0;
  font-weight: 500;
}
.nav_links a {
  text-decoration: none;
  color: #333; /* Adjust as needed */
  transition: color 0.3s ease;
}
.nav_links a:hover {
  color: #555; /* Adjust as needed */
}
.nav_name {
  margin-right: auto; /* Pushes it to the right */
  font-weight: 500;
  font-size: 22px;
}
.bg1{
    background-color: #E1F0DA;
    padding-left: 25px;
}
.para{
    font-size: 28px;
}
.button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: #007bff;
    border-radius: 100px;
    color: white;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}
.button1:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: white;
    border-radius: 100px;
    color: black;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-size: 14px;
  background-color: #f4f4f4;
  align-items: start;
  min-height: 100vh;
}

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
    font-weight: 400;
    text-transform: lowercase;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
.footer__logo img {
    height: 100px; /* Adjust the height as needed */
    margin-right: 10px; /* Adjust the margin as needed */
}
.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}

.products_page{
  margin:50px;
  padding: 30px;
  box-shadow: 0px 0px 12px rgb(184, 217, 230);
  border-radius: 7px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:30px;
}

@media  screen and (max-width:992px){
  .products_page
  {
      grid-template-columns: repeat(3,1fr);
  }
}
@media  screen and (max-width:768px){
  .products_page
  {
      grid-template-columns: repeat(2,1fr);
  }
}
@media  screen and (max-width:500px){
  .products_page
  {
      grid-template-columns: repeat(1,1fr);
  }
}
.product{
 
  border: 1px solid grey;
  border-radius: 10px;
  flex-grow: auto;
}
.product:hover{

  box-shadow: 0px 0px 12px rgb(96, 134, 150);
}
.product_img{
  width:100%;
  height:12rem;
  border-radius: 5px 5px 0px 0px;
}
.product_info{
  margin:10px;
  line-height: 1.7rem;
  position: relative;
}
.AddToCart{
  background-color: rgb(50, 161, 50);
  width:88%;
  color: white;
  padding:5px;
  border: 0;
  border-radius: 10px;
  font-size: large;
}
.AddToCart:hover{
  background-color: green;
}
.wishlist{
  border:1px solid grey;
  padding:2px 7px;
  border-radius: 5px;
  position: absolute;
  right:0;
}
a{
  text-decoration: none;
  color: black;
}
#image{
	margin-top: 10px;
	box-shadow: 5px 5px 5px 5px gray;
	width: 60px;;
	padding: 20px;
	font-weight: 400;
	padding-bottom: 0px;
	height: 40px;
	user-select: none;
	text-decoration:line-through;
	font-style: italic;
	font-size: x-large;
	border: red 2px solid;
	margin-left: 10px;
	
}
#user-input{
	box-shadow: 5px 5px 5px 5px gray;
	width:auto;
	margin-right: 10px;
	padding: 10px;
	padding-bottom: 0px;
	height: 40px;
	border: red 0px solid;
}
input{
	border:1px black solid;
}
.inline{
	display:inline-block;
}
#btn{
	box-shadow: 5px 5px 5px grey;
	color: aqua;
	margin: 10px;
	background-color: brown;
}
.search_div{
  width:100%;
  height:10%;
  background-color: #F2F1EB;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:15px 15%;
}
.icons{
  height:20px;
  width:20px;
}
.category_list{
  display:flex;   
  flex-direction: row;
  justify-content: space-around;
}
#search_bar{
  height:28px;
  border-radius: 7px;
  border: none;
  border-radius: 30px 30px 3;
}
.textBox{  
  background-image:url(images/search.svg);   
  background-position:left;   
  background-repeat:no-repeat;   
  padding-right:17px;
}
button{
  height:30px;
  border-radius: 20px;
  border:none;
  padding: 1px 6px 1px 6px;  
}
button span{
  vertical-align: middle;
}
.green_button{
  background-color: #88AB8E;
  color:#F2F1EB;
}
.cream_button{
  background-color: #EEE7DA;
}
.main{
  padding: 20px 15%;
}
.item{
  display:flex;
  flex-basis:50%;
}
.description{
  padding-left:50px ;
}
.description a{
  font-size: 12px;
  text-decoration: none;
  color: black;
}
.description p{
  margin:15px 0;
  text-align: left;
  font-size: 15px;
}
.speciality{
  margin:50px 0;
}
hr{
  margin: 10px 0;
}
.speciality_content{
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
}
.box{
  background-color: #EEE7DA;
  border-radius: 20px;
  padding: 20px 20px;
  width:150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box img{
  height: 50px;
}
.not_emp{
  color:grey;
  font-size: small;
}
.not_emp2{
  color:rgb(80, 79, 79); 
  font-size: small;
}
.product_description{
  border-radius: 30px;
  border: 1px solid grey;
  padding:20px 40px;
  margin:20px 0;
}
.actual_description{
  margin:20px 0;
}
.actual_description h5{
 margin-bottom: 10px;
}
#video{
  
  display:flex;
  align-items: center;
}
